<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> IRIS FLOWER DETECTION </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> First value :  <input type="text", name='a', placeholder="enter 1"> <br><br>
            Second value :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            Third value :  <input type="text", name='c', placeholder="enter 3"> <br><br>
            Fourth value : <input type="text", name='d', placeholder="enter 4"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='static\flower1.jpg' alt="flower">
        
    </center>

    </body>
</html>
